# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import gmaps
from scipy.stats import linregress
import scipy.stats as st

# gmaps API Keys
from config import (api_key)
#from config import (gkey)

# api_key = "whatever your api key is"
# gkey = "whatever your Google API key is"
# And make sure gmaps is installed:
# pip install gmaps

In [4]:
# pip install citipy
from citipy import citipy

## Generate Cities List

In [5]:
cities_list = []
latitude_longitude_pairs = []
np.random.seed(250)  # to allow others to duplicate 
lats = np.random.randint(-90.00, 90.00, size=2500)
longs = np.random.randint(-180.00, 180.00, size=2500)
latitude_longitude_pairs = zip(lats, longs) 

city_table_df = pd.DataFrame(columns = ['Latitude', 'Longitude', 'City'])

for latitude_longitude_pair in latitude_longitude_pairs:
    returned_city = citipy.nearest_city(latitude_longitude_pair[0],latitude_longitude_pair[1]).city_name
    
    if returned_city not in cities_list:
       cities_list.append(returned_city) 
       city_table_df = city_table_df.append({'Latitude' : latitude_longitude_pair[0], 'Longitude' : latitude_longitude_pair[1], 'City' : returned_city}, ignore_index = True)  
        
#len(list_of_cities)  
city_table_df.head(20)

   Latitude Longitude              City
0        20       -24      ponta do sol
1       -13        15          longonjo
2       -65       133       new norfolk
3       -32        -8         jamestown
4       -39      -139           rikitea
5        66       -12              hofn
6       -61        24        bredasdorp
7        -1        67         hithadhoo
8        65       121          vilyuysk
9        75        -1          klaksvik
10      -33        19             ceres
11       22       -73  cockburn harbour
12       11       -78             tigre
13      -80        60         taolanaro
14       -5        97            padang
15       46       126          zhaodong
16       30       -34    ribeira grande
17      -48        48          tsihombe
18      -60       -49           ushuaia
19       24      -110            la paz

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [6]:
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

query_url = f"{url}appid={api_key}&units={units}&q="

In [7]:
#cities = ['chicago', 'minneapolis', 'cedar rapids']

# set up lists to hold reponse info
lat = []
long = []
temp = []
humid = []
wind = []
speed = []
cloud = []
cities2 = []

# Loop through the list of cities and perform a request for data on each
for city in cities_list:
    response = requests.get(query_url + city).json()
    
    try:
        lat.append(response['coord']['lat'])
        long.append(response['coord']['lon'])
        temp.append(response['main']['temp'])
        humid.append(response['main']['humidity'])
        wind.append(response['wind']['speed'])
        cloud.append(response['clouds']['all'])
        cities2.append(response['name'])
   
    except:
        pass

print('this message')

this message

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [8]:
weather_datasofar = {"city": cities2,
                     "latitude": lat,
                     "longitude": long,
                     "temperature": temp,
                     "humidity": humid,
                     "wind speed": wind,
                     "cloudiness": cloud}
weather_guide = pd.DataFrame(weather_datasofar)
weather_guide

,city,latitude,longitude,temperature,humidity,wind speed,cloudiness
0,Ponta do Sol,32.6667,-17.1000,51.96,68,1.01,56
1,Longonjo,-12.9067,15.2533,63.34,89,2.42,100
2,New Norfolk,-42.7826,147.0587,53.85,92,2.44,61
3,Jamestown,42.0970,-79.2353,50.58,100,8.05,90
4,Rikitea,-23.1203,-134.9692,76.23,68,10.22,92
...,...,...,...,...,...,...,...
833,Amherst,41.3978,-82.2224,50.02,93,3.44,90
834,Waterloo,43.4668,-80.5164,50.85,93,4.61,90
835,Belmonte,-15.8631,-38.8828,75.20,88,5.75,75
836,Hohhot,40.8106,111.6522,48.20,66,24.61,40
837,Dehlorān,32.6941,47.2679,82.98,16,7.96,0

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [9]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

In [10]:
from config import (api_key, gkey)

gmaps.configure(api_key=gkey)

In [11]:
locations = weather_guide[["latitude", "longitude"]].astype(float)

In [12]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations,dissipating=False, max_intensity=100, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))